<header>
    <!-- Logo goes here -->
    <a href="#"><img src="assets/logo.png" /></a>

    <nav>
        <ul class="menu">
            <li class="toggle">
                <a href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Shop</a></li>
            <li class="item"><a href="#">Gallery</a></li>
            <li class="item"><a href="#">Contact</a></li>
        </ul>
        <!-- Icons for for the user and cart -->
        <ul class="login-cart">
            <!--Login-->
            <li>
                <a href="login.html"><i class="fas fa-user"></i></a>
            </li>
            <!--Cart-->
            <li>
                <a href="cart.html" class="cartGroup">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cartNumber"></span>
                </a>
            </li>
        </ul>
    </nav>
</header>