header img {
    display: block;
    margin: 20px auto;
    width: 150px; }
  
nav {
    background-color: #444444;
    position: relative;
    display: flex;
    border-radius: 0px 0px 5px 5px; }

ul {
    list-style: none; }

nav .login-cart {
    position: absolute;
    display: flex;
    width: 5%;
    justify-content: space-around;
    right: 20px;
    top: 20px; }

nav .login-cart li {
    padding-right: 20px; }

nav .login-cart li a {
    color: white;
    font-size: 20px;
    transition: all .5s ease-in;
    padding: 30px 0; }

nav .login-cart li a:hover {
    color: #c7b198; }

nav .login-cart li .cartGroup {
    position: relative; }

nav .login-cart li .cartGroup .cartNumber {
    position: absolute;
    left: 6px;
    color: #916a40;
    font-size: 12px; }

nav .menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column; }

nav .menu .item {
     display: none; }

nav .menu .item a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    padding: 20px;
    color: white;
    transition: all .5s ease-in;
    text-transform: uppercase; }

nav .menu .item a:hover {
    color: #c7b198; }

nav .active .item {
    display: block; }
  
.toggle {
    font-size: 2em;
    padding: 2%; }

.toggle .fa {
    color: White; }
  
@media screen and (min-width: 900px) {
.toggle {display: none; }
  
nav .login-cart {top: 30px; }

nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: center; }

nav .menu .item {
    display: block;
    padding-right: 110px; }

nav .menu li:last-of-type {
    padding-right: 0; } }

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Cormorant', serif;
    color: #929292; }
  
.content {
    min-height: 100%; }