.imgArticle {
  color: black;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0; }
  .imgArticle > * {
    padding: 1rem; }
  .imgArticle h5 {
    font-weight: bold;
    font-size: 1.25rem; }
    
footer {
    text-align: center;
    justify-content: space-around;
    background-color: #444444;
    color: white;
    padding: 20px 0; }
    footer h5 {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 900; }
    footer h5,
    footer p {
      margin: 18px 0; }
    footer ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center; }
      footer ul li:not(:last-of-type) {
        margin-right: 40px; }
      footer ul a {
        color: white;
        font-size: 2rem; }
      footer ul .facebook:hover {
        color: #3b5998; }
      footer ul .twitter:hover {
        color: #00b6f1; }
      footer ul .instagram:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        -webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      footer ul .youtube:hover {
        color: #c31a1e; }